<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>BMI Calculator</title>
</head>
<body>
    
    <div class="container">
        <form action="/bmi" method="POST">
            <input type="text" name="height" placeholder="Enter your Height in cm">
            <input type="text" name="weight" placeholder="Enter your Weight in kg">
            <button type="submit">Confirm</button>
        </form>

        <p>Your BMI: <%= resultToRender.userBMI %></p>
        <p>Your Result: <%= resultToRender.result %></p>
    </div>

    

</body>
</html>